# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/

# Env
.env

# Data
*.db
/data/

# Tooling caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editors
.vscode/
.idea/
